.coming-soon h2 {
	font-size: 1.5rem;
	line-height: 1.2;
	margin-bottom: 20px;
}
.movies {
	margin-bottom: 50px;
	height: 100%;
}
.movie-items {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	row-gap: 40px;
	column-gap: 40px;
	margin-bottom: 40px;
}

.movies-header {
	margin: 40px 0;
	font-size: 2rem;
}
.movies-error {
	font-size: 1.5rem;
}


@media(min-width:661px) {
	.movie-items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 40px;
		column-gap: 40px;
		margin-bottom: 40px;
	}
	.movies-header {
		font-size: 3rem;
	}
}

@media(min-width:778px) {
	.movie-items {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media(min-width:991px) {
	.movie-items {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media(min-width:1200px) {
	.movie-items {
		grid-template-columns: repeat(5, 1fr);
	}
}
@media(min-width:1600px) {
	.movie-items {
		grid-template-columns: repeat(6, 1fr);
	}
}