.topnav {
  display: flex;
  justify-content: space-between;
  background-color: var(--green);
  align-items: center;
  padding: 20px 45px;
}
.title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
}
.title:hover {
  text-decoration: none;
}

.topnav ul {
  display: flex;
  align-items: center;
  column-gap: 20px;
}
.topnav nav {
  display: flex;
	justify-content: space-between;
	margin-left: auto;
}


.topnav nav a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
}

.topnav li + li {
	margin-left: 20px;
}